.nav-bar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  margin-bottom: 100px;
  background-color: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
              -5px -5px 10px #ffffff;
}

.nav-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container h1{
  cursor: pointer;
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container ul li{
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
